* {
    padding: 0;
    margin:  0;
    box-sizing:  border-box;
    font-family: sans-serif;

    // overflow: hidden;
}


.box {
    height: 80px;
    width:  100px;

    background-color: rgb(167, 0, 0);
}